
body{
  font-family: 'Oxygen', sans-serif;
  font-size: 16px;
}

#header-nav{
  background-color: #b3b3b3;
  border-radius: 0;
  border: 1px solid;
}

.navbar-brand h1{
  font-size: 1.3em;
  font-weight: 300;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 0.65;
}

.navbar-brand a{
  text-decoration: none;
  color: #000;
  font-size: 1.5em;
}


.navbar-brand a:hover, .navbar-brand a:focus{
text-decoration: none;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid;
}

#nav-list{
  margin-top: 0px;
  margin-bottom: 0.5px;
  background-color: #fff;
}

#nav-list li{
  border: 1px solid;
}

h2,h3{
  font-weight: bold;
}


#chicken, #beef, #sushi{
  background-color: #b3b3b3;
  /*padding: 1% 3%;
  margin-left: 1%;*/ 
  border: solid;
  margin-bottom: 5vh;
}

#sushi{
  margin-bottom: 0;
}